body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: whitesmoke;
}
.container{
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    
}
.display #screen{
    width: 78%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 3em;
    background: floralwhite;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px white;
}
.btns{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    align-items: center;
    
}
.btns .row button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px black,
                -5px -5px 8px white;
                transition: .1s;
}
.btns .row button:hover{
    box-shadow: inset 5px 5px 8px rgb(16,16,16,.1),
                inset -5px -5px 8px white;}

#eval{
    background: #33ccff;
    color: whitesmoke;
    box-shadow: inset 5px 5px 8px #66d9ff,
                inset -5px -5px 8px #00ace6; 
}
#eval:hover{
    box-shadow: inset 5px 5px 8px #00ace6,
                inset -5px -5px 8px #00ace6; 
}
#ac{
    background: #33cc33;
    color: #fff; 
}
#ac:hover{
    box-shadow: inset 5px 5px 8px #2eb828,
                inset -5px -5px 8px #33cc33; 
}
#ce{
    background: #ff3399;
    color: whitesmoke;
}
#ce:hover{
    box-shadow: inset 5px 5px 8px #e60073,
                inset -5px -5px 8px #ff3399; 
}



